click==6.7
Django==1.11.4
Flask==0.12.2
Flask-WTF==0.14.2
gunicorn==19.7.1
itsdangerous==0.24
Jinja2==2.9.6
MarkupSafe==1.0
passlib==1.7.1
psycopg2==2.7.3.1
pytz==2017.2
virtualenv==15.1.0
Werkzeug==0.12.2
WTForms==2.1
