<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>ttt</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.pink-light_blue.min.css">
    <link rel="stylesheet" href="/styles.css">
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
</head>
<body>
    <!--'includes/_navbar.html' %}-->
    <!--block body %} endblock -->

    <!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">tt</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
        <a class="mdl-navigation__link" href="/Academic">Academic</a>
        <a class="mdl-navigation__link" href="/Login">Logout</a>
        <a class="mdl-navigation__link" href=""><i class="material-icons">person</i></a>
      </nav>
    </div>
  </header>

  <main class="mdl-layout__content">
    <div class="page-content">
        {% block body %} {% endblock %}
    </div>
  </main>




</div>

</body>
</html>